@model IEnumerable<EKMDemo.Data.Models.Restaurant>

@{
    ViewBag.Title = "Restaurant List";
}

<h2>Restaurant List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model)
{
    @Html.Partial("_RestaurantSummary", item)
}