@{
    ViewBag.Title = "Contact Info";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    2 Hastings Road<br />
    Lancaster<br />
    LA1 4TH    
</address>

<address>
    <strong>Mobile:</strong> 07468525240<br />
    <strong>Email:</strong>   <a href="mailto:jayhgolder@gmail.com">jayhgolder@gmail.com</a><br />
</address>