@model EKMDemo.Web.Models.GreetingViewModel
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h2>Greetings!</h2>
    <br />
    <p>@Model.Message, @Model.Name!</p>
</div>
This simple page is to test the usage of query strings (in this case, name).